.container {
  display: flex;
  border-radius: 15px;
  border: 1px solid rgba(162, 137, 137, 0.471);
  width: 350px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.matrixList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 25px;
}
.rolpBox {
  width: 150px;
}
.rolpElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breakLine {
  flex-direction: row;
  align-items: center;
  width: 95%;
}
