.container {
  display: flex;
  border-radius: 15px;
  border: 1px solid rgba(162, 137, 137, 0.471);
  width: 350px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.matrixList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 25px;
}
.rolpBox {
  width: 150px;
}
.rolpElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breakLine {
  flex-direction: row;
  align-items: center;
  width: 95%;
}

.btnPress {
  margin-top: 20px;
  flex-direction: row;
  border: 1px solid #cbe642;
  border-radius: 20px;
  justify-content: center;
  padding: 18px;
  width: 350px;
  color: #cbe642;
}

.btnNormal {
  margin-top: 20px;
  flex-direction: row;
  border: 1px solid #d7d7d9;
  border-radius: 20px;
  justify-content: center;
  padding: 18px;
  width: 350px;
  color: #d7d7d9;
}
.buttonText {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.catgTextPress {
  font-size: 18px;
  color: #cbe642;
}
.catgTextNormal {
  font-size: 18px;
  color: #2e2e2ed7;
}
