.container {
  display: flex;
  align-items: center;
  background-color: #e98c1b;
}

.viewBox {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  padding-bottom: 30px;
}

.headerBox {
  border-left: 1px rgb(233, 140, 27) solid;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 30px;
}
.addButton {
  background-color: #171c8f;
  flex-direction: row;
  padding: 5px;
  border-radius: 10px;
  display: flex;
}
.crossButton {
  margin: 5px;
  display: flex;
  flex-direction: row;
  width: 30px;
  background-color: white;
  border-radius: 100px;
  justify-content: center;
}
.breakLine {
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.header {
  width: 100%;
  margin-top: 15px;
  font-size: 29px;
  color: #e98c1b;
  font-weight: bold;
}

.buttons {
  margin-top: 30px;
  width: 350px;
  display: flex;
  gap: 1rem;
}

.buttonColor {
}
